name: Release deploy

on:
  release:
    types:
      - created
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+**"

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 12
          registry-url: https://registry.npmjs.org/

      - name: Build and Test
        run: |
          yarn install --frozen-lockfile
          npm run ci:test
          npm run ci:deploy-before

      - name: NPM publish
        run: npm publish ./packages/lib
        env:
          NODE_AUTH_TOKEN: ${{secrets.NODE_AUTH_TOKEN}}

      - name: Github pages publish
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }} # https://github.com/peaceiris/actions-gh-pages#%EF%B8%8F-set-runners-access-token-github_token
          publish_dir: "./docs"
